version: 2
updates:
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "02:00"
      timezone: "America/New_York"
    cooldown:
      default-days: 7
    labels:
      - dependencies
      - "release notes: external dependencies"
    open-pull-requests-limit: 100
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "02:00"
      timezone: "America/New_York"
    cooldown:
      default-days: 7
    labels:
      - dependencies
      - "release notes: external dependencies"
    open-pull-requests-limit: 100
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "02:00"
      timezone: "America/New_York"
    cooldown:
      default-days: 7
    labels:
      - dependencies
      - "release notes: external dependencies"
    open-pull-requests-limit: 100
