vendor/*
public/laravel/*
public/build/*
_build/*
cypress_cache/*
resources/js/components/page-header/HeaderNav.vue
resources/js/components/page-header/HeaderMenu.vue
resources/js/components/ViewDynamicAnalysis.vue
resources/js/components/UserHomepage.vue
resources/js/components/TestDetails.vue
resources/js/components/ManageMeasurements.vue
resources/js/components/ManageAuthTokens.vue
resources/js/components/EditProject.vue
resources/js/components/BuildUpdate.vue
resources/js/components/BuildSummary.vue
resources/js/components/BuildNotes.vue
resources/js/components/BuildConfigure.vue
resources/js/components/AllProjects.vue
app/cdash/public/*
public/main.js
public/js/ui.tabs.js
public/js/tabNavigation.js
public/js/services/renderTimer.js
public/js/services/multisort.js
public/js/services/modal.js
public/js/services/filters.js
public/js/services/comparators.js
public/js/services/apiLoader.js
public/js/services/anchors.js
public/js/linechart.js
public/js/jquery.tablesorter.js
public/js/jquery.metadata.js
public/js/je_compare.js
public/js/filters/terminalColors.js
public/js/filters/showEmptySubProjectsLast.js
public/js/directives/timeline.js
public/js/directives/onFinishRender.js
public/js/directives/daterange.js
public/js/directives/convertToNumber.js
public/js/directives/buildgroup.js
public/js/directives/build.js
public/js/directives/autocomplete.js
public/js/controllers/viewTest.js
public/js/controllers/viewSubProjects.js
public/js/controllers/viewDynamicAnalysisFile.js
public/js/controllers/viewBuildError.js
public/js/controllers/userStatistics.js
public/js/controllers/testSummary.js
public/js/controllers/testOverview.js
public/js/controllers/subproject.js
public/js/controllers/queryTests.js
public/js/controllers/overview.js
public/js/controllers/manageSubProject.js
public/js/controllers/manageOverview.js
public/js/controllers/manageBuildGroup.js
public/js/controllers/index.js
public/js/controllers/head.js
public/js/controllers/filters.js
public/js/controllers/compareCoverage.js
public/js/controllers/buildProperties.js
public/js/cdash_angular.js
public/js/cdashViewCoverage.js
public/js/cdashUploadFilesSorter.js
public/js/cdashUpgrade.js
public/js/cdashSortable.js
public/js/cdashSiteSorter.js
public/js/cdashProjectRole.js
public/js/cdashManageUsers.js
public/js/cdashManageCoverageSorter.js
public/js/cdashFilters.js
public/js/cdashCoverageGraph.js
public/js/bulletchart.js
app/cdash/tests/js/pages/login.page.js
app/cdash/tests/js/pages/catchConsoleErrors.page.js
app/cdash/tests/js/e2e_tests/viewTestPagination.js
app/cdash/tests/js/e2e_tests/viewSubProjects.js
app/cdash/tests/js/e2e_tests/subprojectGroupOrder.js
app/cdash/tests/js/e2e_tests/multiSort.js
app/cdash/tests/js/e2e_tests/done_build.js
