app/cdash/public/js/jquery.metadata.js
app/cdash/public/js/jquery.tablesorter.js
app/cdash/public/js/ui.tabs.js
app/cdash/public/js/je_compare.js
app/cdash/public/js/excanvas.js
app/cdash/public/js/d3.dependencyedgebundling.js
app/cdash/public/js/OptionTransfer.js
