*~
1stparty.min.js
1stparty.min.js.map
3rdparty.min.js
3rdparty.min.js.map
/app/cdash/backup/
/app/cdash/log/
/app/cdash/public/.htaccess
/app/cdash/public/js/nv.d3.js.map
/app/cdash/AuditReport.log
_build/
CDash_*.min.js*
composer.phar
.composer
.DS_Store
.env
.env.bak
Homestead.json
Homestead.yaml
.idea
*.local.*
/node_modules
npm-debug.log
*.pem
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
/public/build/
/public/hot
public/main.js
!/public/.htaccess
/public/storage
/public/COMMITHASH
/public/VERSION
/public/LASTCOMMITDATETIME
/storage/
.vagrant
/vendor/
yarn-error.log

# Files generated for Vue
app/cdash/public/js/3rdparty.js
public/laravel/
public/mix-manifest.json
_lighthouse_ide_helper.php
programmatic-types.graphql
schema-directives.graphql
