.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.phar
/vendor/
*.local.*
/app/cdash/public/.htaccess
!/public/.htaccess
*~
