*~
.idea/
.php_cs.cache
.svn/
/_build/
/app.yaml
/backup/
/composer.phar
/config/config.local.php
/log/
/nbproject/private/
/node_modules
/public/js/1stparty.min.js
/public/js/1stparty.min.js.map
/public/js/3rdparty.min.js
/public/js/3rdparty.min.js.map
/public/js/CDash_*.min.js*
/tests/config.test.local.php
/upload/
local/
