<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('vendor')
    ->exclude('storage')
    ->exclude('app/cdash/config')
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'method_argument_space' => ['on_multiline' => 'ignore'],
    ])
    ->setFinder($finder)
;
