@import url("common.css");
.normal { background-color : #8aba5a; }
.warning { background-color : #fdb66d; }
.error { background-color : #de6868; }

.tabb tbody tr.odd td.normal { background-color: #7DB04A; }
.tabb tbody tr.odd td.warning { background-color: #FCA854; }
.tabb tbody tr.odd td.error { background-color: #D95454; }

.Passed { background-color : #8aba5a; }
.Failed { background-color : #fdba76; }
.Not Run { background-color : #ff6666; }
