parameters:
    paths:
        - app
        - routes
        - tests
        - database
        - public
        - server.php
        - resources
        - bootstrap
        - config

    excludePaths:
        analyse:
            # Don't analyze these files because they cause PHPStan to crash
            - app/cdash/tests/kwtest/simpletest
            # Exclude all Blade files to prevent unknown variable errors
            - *.blade.php

    ignoreErrors:
        # Laravel does some magic behind the scenes to support both static and dynamic access for most methods.
        - '#Dynamic call to static method Illuminate.*::[a-zA-Z]+\(\)#'

    exceptions:
        uncheckedExceptionRegexes:
            - '#^Exception$#'
            - '#^InvalidArgumentException$#'
            - '#^LogicException$#'
            - '#^RuntimeException$#'
            - '#^ReflectionException$#'
            - '#^PDOException$#'
            - '#^BadMethodCallException$#'

        uncheckedExceptionClasses:
            - 'Symfony\Component\HttpKernel\Exception\HttpException'
            - 'Illuminate\Support\ItemNotFoundException'
            - 'Illuminate\Database\Eloquent\ModelNotFoundException'
            - 'GuzzleHttp\Exception\GuzzleException'
            - 'Carbon\Exceptions\InvalidFormatException'
            - 'Illuminate\Http\Client\ConnectionException'
            - 'Illuminate\Http\Exceptions\HttpResponseException'
            - 'Symfony\Component\Console\Exception\CommandNotFoundException'

        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true

    stubFiles:
        - vendor/nuwave/lighthouse/_ide_helper.php

    # Regular PHPStan config options
    treatPhpDocTypesAsCertain: false
    checkUninitializedProperties: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkBenevolentUnionTypes: true
    reportAnyTypeWideningInVarTag: true

    # Larastan config options
    checkAuthCallsWhenInRequestScope: true

    parallel:
        maximumNumberOfProcesses: int(%env.PHPSTAN_CPU%)

    level: 9

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - phpstan-baseline.neon
