parameters:
    paths:
        - app
        - routes
        - tests
        - database
        - public
        - server.php
        - resources
        - bootstrap
        - config

    excludePaths:
        analyse:
            # Don't analyze these files because they cause PHPStan to crash
            - app/cdash/tests/kwtest/simpletest
            - app/cdash/tests/selenium/cdash_selenium_test_case.php
            - app/cdash/include/Collection/Collection.php
            - app/cdash/include/Submission/CommitAuthorHandlerInterface.php
            - app/cdash/xml_handlers/build_handler.php
            - app/cdash/xml_handlers/update_handler.php
            - app/cdash/xml_handlers/testing_handler.php

    level: 6

includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon
