parameters:
    paths:
        - app
        - routes
        - tests
        - database
        - public
        - server.php
        - resources
        - bootstrap
        - config

    excludePaths:
        analyse:
            # Don't analyze these files because they cause PHPStan to crash
            - app/cdash/tests/kwtest/simpletest
            - app/cdash/tests/selenium/cdash_selenium_test_case.php
            - app/cdash/include/Collection/Collection.php

    exceptions:
        uncheckedExceptionRegexes:
            - '#^Exception$#'
            - '#^RuntimeException$#'  # Ideally we should catch these too, but there are a lot of uncaught usages here

        uncheckedExceptionClasses:
            - 'Symfony\Component\HttpKernel\Exception\HttpException'

        check:
            tooWideThrowType: true
            missingCheckedExceptionInThrows: true

    treatPhpDocTypesAsCertain: false

    level: 6

includes:
    - phpstan-baseline.neon
