<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="CDash">
  <head ng-controller="HeadController">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" ng-href="{{cssfile}}" />
    <script src="js/CDash_@@version.min.js"></script>
    <title ng-bind="title">CDash : Manage Measurements</title>
  </head>

<body bgcolor="#ffffff">

<xsl:choose>
<xsl:when test="/cdash/uselocaldirectory=1">
  <xsl:call-template name="headeradminproject_local"/>
</xsl:when>
<xsl:otherwise>
  <xsl:call-template name="headeradminproject"/>
</xsl:otherwise>
</xsl:choose>

<form method='POST'>
<xsl:attribute name="action">manageMeasurements.php?projectid=<xsl:value-of select="cdash/project/id" /></xsl:attribute>

  <br/>
<table width="800px" align='center'>
<tr bgcolor="#CCCCCC"><th>Measurement Name</th><th>Show on Test Page</th><th>Show Test Summary Page</th><th>Delete</th></tr>
  <xsl:for-each select="/cdash/measurements/measurement">
     <tr>
       <td align="center">
         <input name="name[]" type="text" id="name[]" size="25">
           <xsl:attribute name="value"><xsl:value-of select="name" /></xsl:attribute>
         </input>
         <input type='hidden' name='id[]'>
       <xsl:attribute name="value"><xsl:value-of select="id" /></xsl:attribute>
         </input>
       </td>
       <td align="center">
        <input type="checkbox" value="1">
          <xsl:attribute name="name">showT[<xsl:value-of select="id" />]</xsl:attribute>
            <xsl:if test="showT=1">
              <xsl:attribute name="checked"></xsl:attribute>
            </xsl:if>
        </input>
       </td>
       <td align="center">
        <input type="checkbox" value="1">
          <xsl:attribute name="name">showS[<xsl:value-of select="id" />]</xsl:attribute>
            <xsl:if test="showS=1">
              <xsl:attribute name="checked"></xsl:attribute>
            </xsl:if>
        </input>
       </td>
       <td align="center">
         <input type="checkbox" name="select[]">
           <xsl:attribute name='value'><xsl:value-of select='id'/></xsl:attribute>
         </input>
       </td>
   </tr>
   </xsl:for-each>
   <tr bgcolor="#CADBD9">
      <td align="center">
        <input name="nameN" type="text" id="nameN" size="25"/>
      </td>
      <td align="center">
        <input type="checkbox" name="showTN" value="1"/>
      </td>
      <td align="center">
        <input type="checkbox" name="showSN" value="1"/>
      </td>
      <td></td>
   </tr>
</table>
<center>
  <input name='submit' value='Save' type='submit'/>
  <input name='del' value='Delete Selected' onClick='javascript:return Ask()' type='submit'/>
</center>
  <input type='hidden' name='projectid'>
    <xsl:attribute name="value">
      <xsl:value-of select="/cdash/project/id" />
    </xsl:attribute>
  </input>
</form>

<!-- FOOTER -->
<br/>
<xsl:choose>
<xsl:when test="/cdash/uselocaldirectory=1">
  <xsl:call-template name="footer_local"/>
</xsl:when>
<xsl:otherwise>
  <xsl:call-template name="footer"/>
</xsl:otherwise>
</xsl:choose>
</body>
</html>
</xsl:template>
</xsl:stylesheet>
