<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="CDash">
  <head ng-controller="HeadController">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" ng-href="build/css/{{cssfile}}_@@version.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.4.css" />
    <script src="js/CDash_@@version.min.js"></script>
    <title ng-bind="title">CDash : Test Overview</title>
  </head>

  <body bgcolor="#ffffff" ng-controller="TestOverviewController">
    <div ng-if="cdash.requirelogin == 1" ng-include="'login.php'"></div>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.header || 'build/views/partials/header_@@version.html'"></ng-include>
    <br/>

    <div ng-if="cdash.requirelogin != 1 && !loading && !cdash.error">
      <!-- Timeline chart -->
      <div class="container">
        <div timeline></div>
      </div>

      <div class="pad4">
        <!-- Filters -->
        <div id="labelshowfilters">
          <a id="label_showfilters" ng-click="showfilters_toggle()">
            <span ng-show="showfilters == 0">Show Filters</span>
            <span ng-show="showfilters != 0">Hide Filters</span>
          </a>
        </div>
        <ng-include src="'build/views/partials/filterdataTemplate_@@version.html'"></ng-include>

        <div class="form-inline pull-right">
          <select class="form-group"
            ng-model="cdash.selectedGroup"
            ng-options="group as group.name for group in ::cdash.groups | orderBy: 'position' track by group.id"
            ng-change="selectionChanged = true">
          </select>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="showpassed"
                     ng-model="cdash.showpassed"
                     ng-true-value="1"
                     ng-false-value="0"
                     ng-change="selectionChanged = true"> Include passing tests
            </label>
          </div>
        </div>

        <span>
          <ng-pluralize count="cdash.tests.length"
                        when="{'0':     'No tests',
                               '1':     '{} test',
                               'other': '{} tests'}">
          </ng-pluralize>
          {{::cdash.showpassedinitialvalue === 1 ? "ran" : "failed"}} during this time period.
        </span>
      </div>

      <div ng-if="::cdash.tests.length > 0">
        <table width="100%" class="tabb" cellspacing="0">
          <thead>
            <tr class="table-heading">
              <th class="header text-center"
                  ng-if="::cdash.hassubprojects"
                  ng-click="updateOrderByFields('subproject', $event)">
                SubProject
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-subproject') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('subproject') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')">
                </span>
              </th>

              <th class="header text-center"
                  ng-click="updateOrderByFields('name', $event)">
                Test Name
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-name') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('name') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')">
                </span>
              </th>

              <th class="header text-center"
                  ng-click="updateOrderByFields('failpercent', $event)">
                Failure
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-failpercent') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('failpercent') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')">
                </span>
              </th>

              <th class="header text-center"
                  ng-click="updateOrderByFields('timeoutpercent', $event)">
                Timeout
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-timeoutpercent') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('timeoutpercent') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')">
                </span>
              </th>

              <th class="header text-center"
                  ng-click="updateOrderByFields('totalruns', $event)">
                Total Runs
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-totalruns') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('totalruns') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')">
                </span>
              </th>

              <th class="header text-center"
                  ng-click="updateOrderByFields('time', $event)"
                  tooltip-popup-delay="1500"
                  tooltip-append-to-body="true"
                  uib-tooltip="Maximum amount of time that this test took to run">
                Time
                <span class="glyphicon"
                      ng-class="orderByFields.indexOf('-time') != -1 ? 'glyphicon-chevron-down' : (orderByFields.indexOf('time') != -1 ? 'glyphicon-chevron-up' : 'glyphicon-none')"></span>
              </th>
            </tr>
          </thead>

          <tbody class="test-table">
            <tr ng-repeat="test in pagination.filteredTests"
                ng-class-odd="'odd'" ng-class-even="'even'">
              <td ng-if="::cdash.hassubprojects">
                {{::test.subproject}}
              </td>
              <td>
                <a ng-href="{{::test.link}}">
                  {{::test.name}}
                </a>
              </td>
              <td class="text-center">{{::test.failpercent}}%</td>
              <td class="text-center">{{::test.timeoutpercent}}%</td>
              <td class="text-center">{{::test.totalruns}}</td>
              <td class="text-center">{{::test.prettytime}}</td>
            </tr>
          </tbody>
        </table>

        <div ng-if="::cdash.tests.length > 10">
          <uib-pagination
            ng-model="pagination.currentPage"
            total-items="cdash.tests.length"
            max-size="pagination.maxSize"
            items-per-page="pagination.numPerPage"
            ng-change="pageChanged()"
            boundary-links="true">
          </uib-pagination>

          <div>
            <label>Items per page</label>
            <select ng-model="pagination.numPerPage" convert-to-number ng-change="numTestsPerPageChanged()">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="-1">All</option>
            </select>
          </div>
        </div>
      </div>

    <!-- FOOTER -->
    <br/>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.footer || 'build/views/partials/footer_@@version.html'"></ng-include>
  </body>
</html>
