<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" ng-app="CDash">
  <head ng-controller="HeadController">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" ng-href="build/css/{{cssfile}}_@@version.css" />
    <script src="js/CDash_@@version.min.js"></script>
    <title ng-bind="title">CDash : Dynamic Analysis</title>
  </head>

  <body bgcolor="#ffffff" ng-controller="ViewDynamicAnalysisFileController">
    <div ng-if="cdash.requirelogin == 1" ng-include="'login.php'"></div>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.header || 'build/views/partials/header_@@version.html'"></ng-include>
    <br/>

    <div id="main_content" ng-if="cdash.requirelogin != 1 && !loading && !cdash.error">
      <h3>Dynamic analysis started on {{::cdash.build.buildtime}}</h3>

      <table border="0">
        <tr>
          <td align="right">
            <b>Site Name:</b>
          </td>
          <td>
            {{::cdash.build.site}}
          </td>
        </tr>

        <tr>
          <td align="right">
            <b>Build Name:</b>
          </td>
          <td>
            {{::cdash.build.buildname}}
          </td>
        </tr>
      </table>

    <a ng-href="{{::cdash.dynamicanalysis.href}}">
      {{::cdash.dynamicanalysis.filename}}
    </a>

    <span ng-class="'{{::cdash.dynamicanalysis.status}}'">
      {{::cdash.dynamicanalysis.status}}
    </span>

    <pre ng-bind-html="cdash.dynamicanalysis.log | trustAsHtml"></pre>

    <!-- FOOTER -->
    <br/>
    <ng-include ng-if="cdash.requirelogin != 1" src="cdash.footer || 'build/views/partials/footer_@@version.html'"></ng-include>
  </body>
</html>
