/* Default style for jQuery plugin je_compare.
   *
   * In order to read white caption on white background we add black
   * text-shadow
   */

.jc-layer {border:1px solid #333;}
.jc-caption {color:#fff;
  text-align:center;
  padding:5px; /* define the distance from the caption to the axes. */
  font-size:12px;
  font-family:arial;
  text-shadow: 0px 0px 2px #000;}
