<div id="header">
  <div id="headertop">
    <div id="topmenu">
      <a href="user.php">My CDash</a>
      <a href="index.php">All Dashboards</a>
    </div>

    <div id="datetime">{{cdash.dashboard.datetime}}</div>
      <div id="feedicon" alt="RSS Feed" title="RSS Feed" ng-if="cdash.dashboard.projectpublic == 1">
        <a href="rss/SubmissionRSS{{cdash.dashboard.projectname}}.xml"><img src="images/feed-icon16x16.png" alt="RSS" width="14" height="14" border="0" />
        </a>
      </div>
    </div>

    <div id="headerbottom">
      <div id="headerlogo">
        <a href="{{cdash.dashboard.home}}">
          <img ng-if="cdash.dashboard.logoid" id="projectlogo" border="0" height="50px" src="displayImage.php?imgid={{cdash.dashboard.logoid}}"/>
          <img ng-if="!cdash.dashboard.logoid" id="projectlogo" border="0" height="50px" src="images/cdash.gif"/>
        </a>
      </div>

      <div id="headername">
        {{cdash.menutitle}}
        <span id="subheadername">{{cdash.menusubtitle}}</span>
      </div>

      <div id="headermenu">
        <ul id="navigation">
          <li id="admin">
            <a href="#">Settings</a>
            <ul>
              <li>
                <a href="createProject.php?edit=1&projectid={{cdash.project.id}}">Project</a>
              </li>
              <li>
                <a href="manageProjectRoles.php?projectid={{cdash.project.id}}">Users</a>
              </li>
              <li>
                <a href="manageBuildGroup.php?projectid={{cdash.project.id}}">Groups</a>
              </li>
              <li>
                <a href="manageCoverage.php?projectid={{cdash.project.id}}">Coverage</a>
              </li>
              <li>
                <a href="manageBanner.php?projectid={{cdash.project.id}}">Banner</a>
              </li>
              <li>
                <a href="manageMeasurements.php?projectid={{cdash.project.id}}">Measurements</a>
              </li>
              <li>
                <a href="manageSubProject.php?projectid={{cdash.project.id}}">SubProjects</a>
              </li>
              <li class="endsubmenu">
                <a href="manageOverview.php?projectid={{cdash.project.id}}">Overview</a>
              </li>
            </ul>
          </li>

          <li id="Dashboard">
            <a href="index.php?project={{cdash.project.name_encoded}}">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
