@import url("common.css");
.normal { background-color : #8aba5a; }
.warning { background-color : #fdb66d; }
.error { background-color : #de6868; }
.missing {background-color: #dfdfdf; }
.disabled-test { background-color : #ffff99; }

.normal-text { color : #8aba5a; }
.warning-text { color : #fdb66d; }
.error-text { color : #de6868; }

.tabb tbody tr.odd td.normal { background-color: #7db04a; }
.tabb tbody tr.odd td.warning { background-color: #fca854; }
.tabb tbody tr.odd td.error { background-color: #d95454; }
.tabb tbody tr.odd td.missing { background-color: #cdcdcd; }
.tabb tbody tr.odd td.disabled-test { background-color: #eeee00; }

.Passed { background-color : #8aba5a; }
.Failed { background-color : #fdba76; }
.Not Run { background-color : #ff6666; }

.nv-rangeMin {fill: #de6868 !important; }
.nv-rangeAvg {fill: #fdb66d !important; }
.nv-rangeMax {fill: #8aba5a !important; }
