@import url("common.css");
.normal  { background-color : #91bfdb; }
.warning { background-color : #ffffbf; }
.disabled-test { background-color : #fee090; }
.error   { background-color : #fc8d59; }

.tabb tbody tr.odd td.normal { background-color: #88b3ce; }
.tabb tbody tr.odd td.warning { background-color: #eeeeb3; }
.tabb tbody tr.odd td.disabled-test { background-color: #edcf7f; }
.tabb tbody tr.odd td.error { background-color: #ef8553; }

.Passed  { background-color : #91bfdb; }
.Failed  { background-color : #ffffbf; }
.Not Run { background-color : #fc8d59; }

.nv-rangeMin {fill: #fc8d59 !important; }
.nv-rangeAvg {fill: #ffffbf !important; }
.nv-rangeMax {fill: #91bfdb !important; }
