body {
 /* font-family: Arial, Helvetica, sans-serif; */
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 padding: 0px;
 margin: 0px;
 font-size: 14px;
 font-weight: normal;
 color: #000000;
}

.argument {
 background-color: #eeeeee;
 font-family: Courier;
}

.cdashfilter {
  font-size: 11px;
}

a:link,a:visited,a:active{
 font-size:14px;
 color:#3B5998; /* 4A4A4A */
 font-weight: normal;
 text-decoration: none;
}

a:hover{
 /* color:#000000; */
 text-decoration: underline;
}

.toptable {
 padding: 1px;
 border: 1px solid #19262f;
 margin-top: 0px;
 margin-right: auto;
 margin-bottom: 0px;
 margin-left: auto;
}
.paddl {
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 11px;
}

.table-nobuild {
  display:none;
}

#projectlogo {
max-height : 110px;
/* IE Image max-width */
height: expression(this.height > 110 ? 110: true);
}

.paddr {
 margin: 0px;
 padding-top: 0px;
 padding-right: 11px;
 padding-bottom: 0px;
 padding-left: 0px;
}
.topdate {
 font-size: 14px;
 font-weight: normal;
 color: #10365b;
}

.na { background-color : #cccccc; }
.measurement { background-color : #b0c4de; }

.table-heading {
 background-color : #c7d7e7; /* #c1c1c1 */
 font-size: 13px;
 padding:0px;
 margin: 0px;
}

.table-heading .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.title-divider { background-color: #b0c4de; text-align: center; font-weight: bold; }
.table-heading1 {
 background-color : #3867d1;
 color: #FFFFFF;
}

.table-heading0 {
 background-color : #7796DF;
 color: #FFFFFF;
}

.table-heading0 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}

.table-heading1 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading1 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}

.table-heading1 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
 display: inline-block;
}

.tabb {
  clear: both;
}

.tabb a {
  color:  #00264D ; /* #3B5998 #00498f*/
  text-decoration:  none;
}

.tabb a:hover {
  text-decoration:  underline;
}

.tabb td, .tabb th{
 border-right-width: 1px;
 border-right-style: solid;
 border-right-color: #555555;
 padding-top: 3px;
 padding-bottom: 3px;
}

.tabb .advancedviewitem{
  display: none;
}

.tabb td{
 padding-top: 4px;
 padding-bottom: 4px;
}

.odd, .tabb tbody tr.odd {
  background-color: #ececec;
}
.even, .tabb tbody tr.even {
  background-color: #ffffff;
}
.tabb thead tr .header {
  background-repeat: no-repeat;
  background-position: bottom center;
  cursor: pointer;
}
.tabb thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
.tabb thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
.tabb thead tr .headerSortDown, .tabb thead tr .headerSortUp {
background-color: #adcae6
;
}

 .treven, tr.even {
 background-color : #ececec;
 margin: 0px;
}
 .trodd, tr.odd {
 background-color : #ffffff;
 margin: 0px;
 border: 0px;
}
.min {
 background-color: #fff687;
}

#coveragetable {
  border-bottom: 1px solid #555555;
}

.tabb .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.table-heading1 .nob {
 margin: 0px;
 padding: 3px;
 border-top-width: 0px;
 border-right-width: 0px;
 border-left-width: 0px;
 border-bottom: solid 1px #244fb1;
}

.botl {
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #555555;
 font-weight: bold;
 margin: 0px;
 padding: 0px;
}
#sort_11{
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

#nob{
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.paddt {
 padding-left: 7px;
}
.total {
 background-color : #ececec;
 margin: 0px;
}
.table-heading2 {
 background-color : #016d9a; /*156824*/
 color: #FFFFFF;
}

.table-heading2 .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom: 1px solid #015173;
 border-left-width: 0px;
}

.table-heading2 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
 text-decoration: none;
}
.table-heading2 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading2 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}
.table-heading3 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading3 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading3 {
 background-color : #01939A; /*#845924 */
 color: #FFFFFF;
}
.table-heading3 .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom: 1px solid #016e73;
 border-left-width: 0px;
}

.table-heading3 h3{
 font-family: Arial, Helvetica, sans-serif;
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}
.inn1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 27px;
 font-weight: bold;
 text-transform: uppercase;
 color: #fcdb34;
}
.inn2 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 24px;
 font-weight: bold;
 color: #FFFFFF;
 padding-left: 20px;
}
#submm{
 background-color: #3a596d;
 background-image: none;
}
a:hover#submm{
 background-color: #CCCCCC;
 background-image: none;
}

#JT_arrow_left{
  background-image: url(../img/arrow_left.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  left:-12px;
  height:23px;
  width:10px;
    top:-3px;
}

#JT_arrow_right{
  background-image: url(../img/arrow_right.gif);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  z-index:101;
  height:23px;
  width:11px;
    top:-2px;
}

#JT {
  position: absolute;
  z-index:100;
  border: 2px solid #CCCCCC;
  background-color: #fff;
}

#JT_copy{
  padding:10px 10px 10px 10px;
  color:#333333;
}

.JT_loader{
  background-image: url(../img/loader.gif);
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:12px;
}

#JT_close_left{
  background-color: #CCCCCC;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight:bold;
}

#JT_close_right{
  background-color: #CCCCCC;
  text-align: left;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-top: 2px;
  font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
  padding: 1px;
  border: 1px solid #CCCCCC;
}

a.grouptrigger:link{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
}

a.grouptrigger:visited{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */

/* new jquery tabs */
.tabs.ui-state-default {
  background: none !important;
  background-color: #4d75ca !important;
}

.tabs.ui-state-active, .tabs.ui-state-hover {
  background: none !important;
  background-color: #ffffff !important;
}

.tabs.ui-corner-top a {
  color: #000000 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  text-align: center !important;
  white-space: nowrap !important;
}

.tabs.ui-widget-header {
  background: none !important;
  background-color: #ececec !important;
}

/* old jquery tabs */

.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(../img/tab.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
}
.tabs-nav .tabs-selected a {
    color: #000;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}
div.tab_content {
  border:1px solid #97A5B0;
}
div.tab_help{
  float:right;
  width:320px;
}
span.help_content{
  display:none;
}
#wizard{
    margin-left:auto;
    margin-right:auto;
    width:900px;
  }
/* tooltip 's css */
#tooltip{
      position:absolute;
      border:1px solid #333;
      background:#f7f5d1;
      padding:2px 5px;
      color:#333;
      display:none;
}

span.lineNoCov {
  background-color : #ff6666;
}

span.lineCov {
  background-color: #669933; /* #92ca89*/
}

span.lineNum {
  background-color : #fdba76;
}

.valuewithsub{
  position: relative;
  min-width: 40px;
  left: -5px;
}

.sub {
 position: absolute;
 font-size: 0.6em;
 text-decoration: none;
 bottom: -0.4em;
 margin-left: 2px;
}

a.sup {
 position: absolute;
 font-size: 0.6em;
 text-decoration: none;
 top: -0.3em;
 margin-left: 1px;
}


/** New CSS starts here */
div#header {
  width:100%;
}

div#headertop {
  position: relative;
  width:100%;
  background-color: #2D2D2D;
  background-image: none;
  color: #CCCCCC !important;
  height: 25px;
}

div#headerbottom {
  width:100%;
  background-color: #3867d1;
  background-image: -moz-linear-gradient(center top , #2951AE 0%, #3867d1 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#2951AE),to(#3867d1));
  height: 60px;
  -webkit-box-shadow: #666666 0px 0px 3px;
  -moz-box-shadow: 0px 0px 2px #666666;
  box-shadow: #666666 0 0 3px;
}

div#headerlogo {
  position: absolute;
  left: 5px;
  top: 30px;
  height: 20px;
}
div#headermenu {
  width:90%;
  position: absolute;
  top: 70px;
  left: 5px;
}

div#headername {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #FFD966;
  position: absolute;
  top: 30px;
  left: 280px;
  text-shadow: #555555 1px 1px, #555555 -1px 1px, #555555 -1px -1px, #555555 1px -1px;
}

div#headername2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
  color: #FFD966;
  position: absolute;
  top: 40px;
  left: 150px;
  text-shadow: #555555 1px 1px, #555555 -1px 1px, #555555 -1px -1px, #555555 1px -1px;
}

span#subheadername  {
  padding-left: 5px;
  text-transform: lowercase;
}

div#feedicon {
  position: absolute;
  width: 14px;
  right: 3px;
  top: 5px;
}

div#datetime {
  position: absolute;
  width: 300px;
  right: 0px;
  top: 4px;
}

div#topmenu {
  position: relative;
  float: left;
  width: 500px;
  top: 4px;
  left: 6px;
}

div#topmenu a {
  padding: 5px;
  color: #CCCCCC !important;
  cursor: pointer;
  text-decoration: none !important;
}

div#topmenu a:hover {
  background-color: #5A5A5A;
  text-decoration: none !important;
}

/** Menu */
#navigation {
 width: 90%;
 list-style: none;
 margin: 0;
 padding: 0;
 font-family: Arial, Helvetica, sans-serif;
 z-index: 1000;
 left: 55px;
 top: -10px;
  position: relative;
}

#navigation ul {
 list-style: none;
 margin: 0;
 padding: 0;
  z-index: 1000;
}

#navigation li {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 105px;
  font-size: 1em;
}

#navigation li a, #navigation li a:link, #navigation li a:active, #navigation li a:visited {
 font: bold 1.00em/25px Arial, Helvetica, sans-serif;
 color: #FFFFFF;
 display: block;
 text-decoration: none;
 margin: 0px;
 border: 0px;
 width: 115px;
}

#navigation li:hover a {
 background-color: #6699CC;
 -moz-border-radius: 6px 6px 0px 0px;
 -webkit-border-radius: 6px 6px 0px 0px;
 -khtml-border-radius: 6px 6px 0px 0px;
 border-radius: 6px 6px 0px 0px;
 display: block;
 width: 115px;
}


#navigation li li {
  display: none;
  font-size: 0.9em;
}

#navigation li:hover li {
  display: block;
   width: 115px;
}

#navigation li ul {
   background-color: #6699CC;
   position: relative;
   width: 115px;
   z-index: 5000;
}

#navigation li ul li {
   background-color: #6699CC;
   width: 115px;
   text-align: left;
   z-index: 5000;
}

#navigation li:hover ul li.endsubmenu {
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -khtml-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

#navigation li:hover ul li a {
  position: relative;
  width: 90px;
  left: 10px;
}

#navigation li ul li.endsubmenu:hover a {
  -moz-border-radius: 0px 0px 6px 6px;
  -webkit-border-radius: 0px 0px 6px 6px;
  -khtml-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

#navigation li ul li:hover a {
   background-color: #003366;
   -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  -khtml-border-radius: 0px 0px 0px 0px;
   border-radius: 0px 0px 0px 0px;
   width: 105px;
   left: 0px;
   padding-left: 10px;
}

/** Footer */
#footer {
  background-color: #FFFFFF;
  border-top: solid 1px #BBBBBB;
  width: 490px;
  height: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#footer a:hover{
  text-decoration: underline;
}

#kitwarelogo {
  margin-top: 3px;
  margin-left: 5px;
  float: left;
  width: 135px;
}

#kitwarelogo a {
  text-decoration: none;
}

#footerlogo {
  top: 3px;
  float: left;
  width: 345px;
  height: 10px;
  margin-right: 5px;
}

#footerlogo a {
  text-decoration: none;
}

span#footertext {
  position: relative;
  top: -13px;
  font-size: 0.9em;
  left: 3px;
  color: #4A4A4A;
}

div#banner {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #C7D7E7;
  margin-bottom: 3px;
}

div#index_top {
  position: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 1px;
  height: 20px;
  margin: 0px;
}

div#updatechanges {
  width: 600px;
  padding-left: 5px;
  float: left;
}

div#labelshowfilters {
  position: relative;
  top: -18px;
  float: right;
  width: 100px;
}

div#labelcolorblind {
  position: relative;
  top: -18px;
  float: right;
  margin-right: 10px;
}

div#helpmenu {
  position: relative;
  top: -18px;
  margin-left: 3px;
  float: right;
  width: 50px;
}

div#autorefresh {
  position: relative;
  top: -18px;
  right: 5px;
  float: right;
  width: 90px;
}

div#advancedview {
  position: relative;
  top: -18px;
  right: 10px;
  float: right;
  width: 100px;
}

#tablefilters {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#tablefilters tr td {
  padding-left: 10px;
}

div#div_showfilters {
  clear: both;
  width: 100%;
  position: relative;
  float: left;
}

.icon {
  margin-left: 1px;
  margin-right: 1px;
}

.builddateelapsed {
  cursor: pointer;
  text-align: center;
}

#showold {
  padding-right: 5px;
  padding-top: 5px;
}

.ui-tooltip-blue .ui-tooltip-content{
  border-color: #244FB1 !important;
  color: #000000 !important;
}

/** CALENDAR */
div#calendar{
  position:absolute;
  z-index: 1000;
  left: 150px;
  display: none; /* hide by default */
}

.quicklink{
  display: none; /* hide for now */
}

.activity-level-none {
    float: right;
    background: url("../img/activity-level.png") no-repeat scroll -16px -16px transparent;
    height: 16px;
    width: 16px;
}

.activity-level-low {
    float: right;
    background: url("../img/activity-level.png") no-repeat scroll 0 -16px transparent;
    height: 16px;
    width: 16px;
}

.activity-level-medium {
    float: right;
    background: url("../img/activity-level.png") no-repeat scroll -16px 0 transparent;
    height: 16px;
    width: 16px;
}

.activity-level-high {
    float: right;
    background: url("../img/activity-level.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}

img {
    border: 0 none;
}

#executiontime {
  position: relative;
  float: right;
  top: 10px;
  padding-right: 5px;
}

#executiontime img {
  padding-right: 3px;
}

textarea {
  font-size: 14px;
  font-family: Courier New, Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

#settings {
  float: right;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}


#settings ul{
  position: relative;
  background-color: #EEEEEE;
  width: 110px;
  right: 130px;
  list-style: none;
  margin: 0px;
  border: 1px solid #90bade;
  z-index: 5000;
}

#settings ul li {
  position: relative;
  display: block;
  width: 110px;
  height: 20px;
  z-index: 5000;
}

#settings ul li a{
  color: #003366;
  text-decoration: none;
  position: relative;
  width: 140px;
  height: 20px;
  left: -40px;
  padding-left: 10px;
  display: block;
}

#settings ul li:hover a{
  text-decoration: none;
  background-color: #CCCCCC;
}

#settings ul.visible {
  display: block;
}

#feed {
  clear: both;
  display: block;
  position: relative;
  padding-bottom: 5px;
  width: 100%;
  color: #015173;
}

#feed a{
  color: #015173;
}

#feedmore a {
  font-size: 0.8em;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

.parent_row {
 font-weight: bold;
}

.compiler-output {
  font-size: 14px;
  font-family: Courier New, Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
  border: 1px inset #ccc;
  overflow-x:scroll;
  max-height:350px;
}

.nobr {
  white-space:nowrap;
}

/* used for tabbed content on AngularJS pages */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

/* used in overview.php */
.center-text {
  text-align: center;
}
.border-right {
  border-right: 2px black solid !important;
}
.border-left {
  border-left: 2px black solid !important;
}
.overview-line-chart {
  height: 100px;
  width: 200px;
}
.overview-bullet-chart {
  height: 100px;
  width: 150px;
}

/* for angular animations */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}
.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-show {
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
  opacity:1;
}
.animate-show.ng-hide {
  opacity:0;
}

/* used for angular table sorting */
.glyphicon-none:before {
  content: "\e113";
  color: transparent !important;
}

/* padding for test table cells */
.test-table td, .test-table th{
  padding: 4px !important;
}

/* testing graphs */
#testfailuregrapholder, #graph_holder {
  width:800px;
  height:400px;
}

/* for manageOverview.php */
#buildSortable {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 275px;
}
#buildSortable li {
  margin: 0 3px 3px 3px;
  padding: 3px;
  height: 250px;
  font-size: 1.4em;
  border-style: solid;
  border-width: 2px;
  cursor: move;
}
#staticSortable {
  margin: 0;
  padding: 0;
}
#staticSortable tr {
  margin: 0 3px 3px 3px;
  padding: 3px;
  font-size: 1.4em;
  border-style: solid;
  border-width: 2px;
  cursor: move;
}
.spacer {
    margin-top: 20px;
}
