.idea/
.php_cs.cache
/_build/
/app.yaml
/backup/
/composer.phar
*.local.php
/config/queue.local.php
/config/*.pem
/log/
/nbproject/private/
/node_modules
/public/js/1stparty.min.js
/public/js/1stparty.min.js.map
/public/js/3rdparty.min.js
/public/js/3rdparty.min.js.map
/public/js/CDash_*.min.js*
/public/upload/
/vendor/
build/

.vagrant
ansible/roles/*
ansible/site.retry
.DS_Store
.htaccess
