version: 2.1
jobs:
  build:
    environment:
      SITENAME: "CircleCI 2.1"
    machine: true
    steps:
      - checkout
      - run:
          name: MySQL Build
          command: |
            set -x
            source ~/project/docker/commands.bash
            docker compose -f docker/docker-compose.yml \
                           -f docker/docker-compose.dev.yml \
                           -f docker/docker-compose.mysql.yml \
                           --env-file .env.dev up -d \
                           --build
            cdash_wait_for_ready http://localhost:8080/ping 12
      - run:
          name: Test MySQL
          command: |
            set -x
            source ~/project/docker/commands.bash
            cdash_run_and_submit_mysql_ctest
      - run:
          name: Tear Down MySQL Build
          command: |
            set -x
            docker compose -f docker/docker-compose.yml \
                           -f docker/docker-compose.dev.yml \
                           -f docker/docker-compose.mysql.yml \
                           --env-file .env.dev down
      - run:
          name: Postgres Build
          command: |
            set -x
            source ~/project/docker/commands.bash
            docker compose -f docker/docker-compose.yml \
                           -f docker/docker-compose.dev.yml \
                           -f docker/docker-compose.postgres.yml \
                           --env-file .env.dev up -d \
                           --build
            cdash_wait_for_ready http://localhost:8080/ping 12
      - run:
          name: Test Postgres
          command: |
            set -x
            source ~/project/docker/commands.bash
            cdash_run_and_submit_pgsql_ctest
      - run:
          name: Build Docker Image
          command: |
              cp docker/cdash.docker Dockerfile
              docker build -t kitware/cdash:latest --target cdash .
              docker build -t kitware/cdash-worker:latest --target cdash-worker .
      - run:
          name: Publish Docker Image
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
              docker push kitware/cdash:latest
              docker push kitware/cdash-worker:latest
            fi
