      <table border="0">
        <tr>
          <td align="left">
            <b>Site: </b>
            <a href="viewSite.php?siteid={{cdash.build.siteid}}">
              {{cdash.build.site}}
            </a>
          </td>
        </tr>
        <tr>
          <td align="left">
            <b>Build Name: </b>
            {{cdash.build.buildname}}
          </td>
        </tr>
        <tr>
          <td align="left">
            <b>Build Start Time: </b>
            {{cdash.build.starttime}}
          </td>
        </tr>
        <tr>
          <td align="left">
            &#x20;
          </td>
        </tr>
        <tr>
          <td align="left" class="num-errors">
            Found <b>{{cdash.numErrors}}</b>
            <ng-pluralize count="cdash.numErrors"
                          when="{'1':     '{{cdash.errortypename}}',
                                 'other': '{{cdash.errortypename}}s'}"></ng-pluralize>
            <span ng-if="cdash.parentBuild"> across <b>{{cdash.numSubprojects}}</b>
              <ng-pluralize count="cdash.numSubprojects"
                              when="{'1':     'subproject',
                                     'other': 'subprojects'}"></ng-pluralize>.</span>
          </td>
        </tr>
        <tr>
          <td align="left">
            <a href="viewBuildError.php?type={{cdash.nonerrortype}}&buildid={{cdash.build.buildid}}">
              {{cdash.nonerrortypename}}s are here.
            </a>
          </td>
        </tr>
      </table>

      <br/>

      <!-- If it's a parent build, show build errors in an abbreviated view grouped by subproject -->
      <table ng-if="cdash.parentBuild" border="0" cellpadding="4" cellspacing="0" width="100%" class="tabb">
        <thead>
          <tr class="table-heading">
            <th align="left" width="15%">
              Subproject
            </th>
            <th align="left">
              Errors
            </th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="error in pagination.buildErrors">
            <td style="vertical-align:top">{{error.subprojectname}}</td>
            <td>
              <a href="#" ng-click="showErrors = !showErrors">
                Error building {{error.outputfile}}
              </a>
              <div ng-hide="!showErrors">
                <build-error>{{error}}</build-error>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Otherwise just display all the errors for this build -->
      <div ng-if="!cdash.parentBuild">
        <build-error ng-repeat="error in pagination.buildErrors"></build-error>
      </div>

      <div ng-if="cdash.numErrors > 25">
        <uib-pagination
            ng-model="pagination.currentPage"
            total-items="cdash.numErrors"
            max-size="pagination.maxSize"
            items-per-page="pagination.numPerPage"
            ng-change="pageChanged()"
            boundary-links="true">
          </uib-pagination>

          <div>
            <label>Items per page</label>
            <select ng-model="pagination.numPerPage" convert-to-number ng-change="pageChanged()">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="-1">All</option>
            </select>
          </div>
      </div>
