<h3>Dynamic analysis started on {{::cdash.build.buildtime}}</h3>

<table border="0">
  <tr>
    <td align="right">
      <b>Site Name:</b>
    </td>
    <td>
      {{::cdash.build.site}}
    </td>
  </tr>

  <tr>
    <td align="right">
      <b>Build Name:</b>
    </td>
    <td>
      {{::cdash.build.buildname}}
    </td>
  </tr>
</table>

<a ng-href="{{::cdash.dynamicanalysis.href}}">
  {{::cdash.dynamicanalysis.filename}}
</a>

<span ng-class="'{{::cdash.dynamicanalysis.status}}'">
  {{::cdash.dynamicanalysis.status}}
</span>

<pre ng-bind-html="cdash.dynamicanalysis.log | trustAsHtml"></pre>
