<h3>Dynamic analysis started on {{::cdash.build.buildtime}}</h3>

<table border="0">
  <tr>
    <td align="right"><b>Site Name:</b></td>
    <td>{{::cdash.build.site}}</td>
  </tr>
  <tr>
    <td align="right"><b>Build Name:</b></td>
    <td>{{::cdash.build.buildname}}</td>
  </tr>
</table>

<div class="buildgroup">
  <table cellspacing="0" class="tabb" width="100%">
    <thead>
      <tr class="table-heading1">
        <td class="center-text botl" colspan="100">Dynamic Analysis</td>
      </tr>
      <tr class="table-heading">
        <th class="column-header">Name</th>
        <th class="column-header">Status</th>
        <th ng-repeat="defecttype in ::cdash.defecttypes" class="column-header">
          {{::defecttype.type}}
        </th>
        <th ng-if="::cdash.displaylabels" class="column-header">Labels</th>
      </tr>
    </thead>

    <tbody>
      <tr align="center"
          ng-repeat="DA in ::cdash.dynamicanalyses"
          ng-class-odd="'odd'"
          ng-class-even="'even'"
      >
        <td align="left">
          <a ng-href="viewDynamicAnalysisFile.php?id={{::DA.id}}">
            {{::DA.name}}
          </a>
        </td>

        <td ng-class="::DA.status == 'Passed' ? 'normal' : 'error'">
          {{::DA.status}}
        </td>

        <!-- Show how many defects of each type were found for this test -->
        <td ng-repeat="numdefects in ::DA.defects track by $index"
            ng-class="::{warning: numdefects > 0}">
          <span ng-if="::numdefects > 0">
            {{::numdefects}}
          </span>
        </td>

        <!-- Labels -->
        <td ng-if="::cdash.displaylabels">
          {{::DA.labels}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
