<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Static files in these directories are versioned or never change...
    RewriteRule ^(assets|fonts|images|img)/ - [E=CDASH_IMMUTABLE:1]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "\.(css|js|svg|gif|png|woff2?|ttf|eot)$">
        Header set Cache-Control "max-age=31536000, immutable" env=CDASH_IMMUTABLE
        Header set Cache-Control "no-cache" env=!CDASH_IMMUTABLE
    </FilesMatch>

    Header set Content-Security-Policy "default-src 'self' 'unsafe-inline' 'unsafe-eval'; font-src 'self' data:; img-src 'self' data:"
</IfModule>

<IfModule mod_deflate.c>
  SetOutputFilter DEFLATE
</IfModule>
