name: cdash
services:
  cdash:
    image: kitware/cdash
    container_name: cdash
    build:
      context: ..
      dockerfile: ./docker/cdash.docker
      target: cdash
    environment:
      CDASH_ROOT_ADMIN_PASS: secret
      DB_HOST: database
    depends_on:
      database:
        condition: service_healthy
    links:
      - database
    volumes:
      - type: volume
        source: storage
        target: /cdash/storage
volumes:
  storage:
