.permalink {
 padding: 12px;
 width: auto;
}

.table-heading { background-color : #b0c4de; }
.tr-even { background-color : #b0c4de; }
.tr-odd { background-color : #ffffff; }
 
.news-summary {
 padding-left: 82px;
 position: relative;
 text-overflow: ellipsis;
 overflow: hidden;
}

h3 {
 margin: 0 0 6px 0;
 font-size: 20px;
 line-height: 1em;
}

h3 a {
 white-space: normal;
}

h3 a, p a, .news-details a {
 text-decoration: none;
 color: #105CB6;
}

p {
 margin-top: 0;
}

 .normal { background-color : #00aa00; }
 .warning { background-color : #ffcc66; }
 .error { background-color : #ff6666; }


.section {
 background: url(section.gif) repeat-x;
 border-top: 1px solid #ccc;
 margin: 10px 0px 14px 0px;
 min-height: 32px;
}

.section ul, .section li {
 list-style: none;
 padding: 0;
 margin: 0;
}


a.buildlink {
    margin: 0;
    display: block;
    padding: 0px 0px 0px 0px;
    background: url(iPhoneArrow2.gif) no-repeat right center;
    text-decoration: none;
    color: inherit;
    min-height: 32px;
}

.section h5 {
 border-top: 1px solid #ddd;
 padding-top: 4px;
 margin-bottom: 0px;
 font-weight: normal;
}

.sectionheader {
 font-weight: bold;
 text-align: center;
 font-size: 13px;
}

.sectionbuildodd td{
 border-left: 1px #ccc solid;
 border-right: 1px #ccc solid;
 background-color: #EEEEEE;
 text-align: center;
 font-size: 13px;
}

.sectionbuildeven td{
 border-left: 1px #ccc solid;
 border-right: 1px #ccc solid;
 background-color: #FFFFFFF;
 text-align: center;
 font-size: 13px;
}

.section h5, .section h5 a {
 color: #999;
}


.section h5 a {
 font-weight: bold;
 text-decoration: none;
}

.section em {
 font-style: normal;
 font-weight: bold;
 color: green;
 display: block;
 float: right;
 font-size: 20px;
 margin: 0 0 7px 7px;
}

.sectionbuildeven td a{
text-decoration: none;
 font-weight: normal;
 font-size:13px;
  color: #000000;
}

.news-body p {
 font-size: 14px;
}

h4 {
 margin: 0 0 -15px 0;
 color: #666;
}

h4 a {
 text-decoration: none;
 color: #666;
}

.news-details div {
 font-size: 14px;
 color: #666;
 padding: 3px 0;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}

.trail {
 background: #eee;
 padding: 6px 10px;
 color: #ccc;
 font-weight: bold;
 font-size: 14px;
    min-height: 1px;
}

.trail a {
 text-decoration: none;
 color: #666;
}

.choice {
 display: block;
 text-decoration: none;
 font-size: 16px;
 font-weight: bold;
 padding: 16px 0;
 background: #629b00;
 color: #fff;
 -webkit-border-radius: 5px;
 margin: 30px;
 text-align: center;
}

.choice-normal {
 background: #666;
}

li.pagination {
 background: none;
 border: none;
 text-align: center;
}

li.pagination strong {
 font-size: 35px;
 color: #ccc;
 position: relative;
 top: 20px;
}

.next, .previous {
 display: block;
 text-decoration: none;
 font-size: 18px;
 padding: 7px 0;
 background: #629b00 url(/img/mobile/previous.gif);
 color: #fff;
 margin: 8px 12px;
 width: 110px;
 height: 21px;
 text-align: center;
 margin-bottom: 30px;
}

.next {
 float: right;
 background: #629b00 url(/img/mobile/next.gif);
}

.previous {
 float: left;
 opacity: 0.6;
}

/*********************/

body {
    margin: 0;
    font-family: Helvetica;
    background: #fff;
    color: #000;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    text-indent: -1000px;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #fff;
    background: #6699cc url(logo.gif) 5px 2px no-repeat;
    min-height: 21px;
}

.home {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100px;
 height: 40px;
 text-decoration: none;
}

.button {
    position: absolute;
    top: 0;
    right: 15px;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 6px 10px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

.title {
    position: absolute;
    top: 0;
    left: 45px;
    -webkit-border-radius: 0;
    border-width: 0 5px 0 5px;
    padding: 6px 10px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-decoration: none;
    background: none;
}

#homeButton {
    display: none;
    left: 6px;
    right: auto;
    -webkit-border-image: url(/img/mobile/iPhoneBackButton.png) 0 8 0 14;
    border-width: 0 8px 0 14px;
}

.goButton {
    -webkit-border-image: url(/img/mobile/iPhoneGoButton.png) 0 5 0 5;
    border-width: 0 5px;
}

body > div,
body > form,
body > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 41px;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

body > *[selection="true"] {
    display: block;
}

body > ul > li {
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    list-style: none;
    position: relative;
    min-height: 48px;
}

body > ul > li > a.link {
    display: block;
    padding: 14px 32px 2px 48px;
    text-decoration: none;
    color: inherit;
    min-height: 32px;
}
    
.panel {
    box-sizing: border-box;
    padding: 10px;
    background: #c8c8c8 url(/img/mobile/pinstripes.png);
}

/************************************************************************************************/

.dialog {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 468px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    padding: 0;
}

fieldset {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px 6px;
    background: url(/img/mobile/iPhoneToolbar.png) #7388a5 repeat-x;
}

fieldset > h1 {
    margin: 0 10px 0 10px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-align: center;
}

label {
 font-size: 14px;
 text-align: left;
 display: block;
 margin: 5px 0 2px 4px;
 font-weight: bold;
 color: #fff;
 text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
}

label.inside {
    position: absolute;
    margin: 14px 0 0 15px;
    color: #BBB;
    text-shadow: none;
}

input {
 box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    font-size: 16px;
    font-weight: normal; 
}

input[type='text'], input[type='password'], select {
    width: 90%;
    font-size: 16px;
}

input[type='submit'] {
 float: right;
 margin-right: 20px;
}

img.wss {
    float: left;
    display: inline;
}

#buildinfo{
  font-size: 13;
  font-weight: normal;
  border-top: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
}

#buildtable{
  font-size: 11;
  font-weight: normal;
  border-bottom: 1px solid #C0C0C0;
}
#buildtable table{
  font-size: 11;
}

#Stage0{
  padding-top: 10px;
  font-size: 12;
  font-weight: normal; 
  border-bottom: 1px solid #C0C0C0;
}

#Stage1{
  padding-top: 10px;
  font-size: 12;
  font-weight: normal; 
  border-bottom: 1px solid #C0C0C0;
}


#Stage2{
  padding-top: 10px;
  font-size: 12;
  font-weight: normal; 
  border-bottom: 1px solid #C0C0C0;
}

#Stage3{
  padding-top: 10px;
  font-size: 12;
  font-weight: normal; 
  border-bottom: 1px solid #C0C0C0;
}

BuildError{
  font-size: 12;
  font-weight: normal; 
  border-bottom: 1px solid #C0C0C0;
}

.CodeText{
  font-size:12;
  font-style: italic;
}


