<div id="footer" class="clearfix">
  <div id="kitwarelogo">
    <a href="http://www.kitware.com">
      <img src="img/kitware_logo_footer.svg" border="0" alt="logo" />
    </a>
  </div>
  <div id="footerlinks" class="clearfix">
    <a href="http://www.cdash.org" class="footerlogo"><img src="img/cdash.png?rev=2019-05-08" border="0" height="30" alt="CDash logo" class="pull-left"/></a>
    <span id="footertext" class="pull-right">
      CDash {{::cdash.version}}
      © <a href="http://www.kitware.com">Kitware</a> |
      <a href="https://github.com/Kitware/CDash/issues" target="blank">Report problems</a> |
      <a ng-href="{{cdash.endpoint}}">View as JSON</a>
      <span ng-if="::cdash.generationtime"
            tooltip-popup-delay="1500"
            tooltip-append-to-body="true"
            uib-tooltip="Total (Backend API)"
      >
        | {{cdash.generationtime}}
      </span>
      <span ng-if="::cdash.currentdate">
        <br>
        Current Testing Day {{ ::cdash.currentdate }} | Started at {{ ::cdash.nightlytime }}
      </span>
    </span>
  </div>
</div>

<!-- Google Analytics -->
<script type="text/ng-template" id="google-analytics-snippet">
<script src="//google-analytics.com/ga.js" type="text/javascript">
<script type="text/javascript">
  var pageTracker = _gat._getTracker("{{cdash.googletracker}}");
  pageTracker._initData();
  pageTracker._trackPageview();
</script>
</script>

<ng-include src="'google-analytics-snippet'" ng-if="cdash.googletracker"></ng-include>
