<table style="table-layout:fixed; width:100%">
  <colgroup>
    <col style="width: 115px"/>
    <col/>
  </colgroup>

  <tr ng-if="error.sourceline" style="background-color: #b0c4de; font-weight: bold">
    <th colspan="2" align="left">
      <img ng-if="error.new == -1" src="img/flaggreen.gif" title="flag"/>
      <img ng-if="error.new == 1" src="img/flag.png" title="flag"/>
      <pre ng-if="error.new == 0" style="height: 0px;"></pre>
    </th>
  </tr>

  <tr style="background-color: #b0c4de; font-weight: bold" ng-if="error.targetname">
    <th colspan="2">
      {{cdash.errortypename}} while building
      <code>{{error.language}}</code> {{error.outputtype}} "
      <code>{{error.outputfile}}</code>"
      in target {{error.targetname}}
    </th>
  </tr>

  <tr ng-if="cdash.cvsurl">
    <th class="measurement">
      <span class="nobr"> Repository </span>
    </th>
    <td>
      <a href="{{cdash.cvsurl}}">
        {{cdash.cvsurl}}
      </a>
    </td>
  </tr>

  <tr ng-if="error.logline">
    <th class="measurement">
      <span class="nobr">Build Log Line </span>
    </th>
    <td>
      {{error.logline}}
    </td>
  </tr>

  <tr>
    <th class="measurement">
      <span class="nobr"> {{cdash.errortypename}} </span>
    </th>
    <td>
      <pre ng-if="error.precontext" class="compiler-output" ng-bind-html="error.precontext | ctestNonXmlCharEscape | terminalColors:false | trustAsHtml"></pre>
      <b>
        <pre class="compiler-output" ng-bind-html="error.text | ctestNonXmlCharEscape | terminalColors:false | trustAsHtml"></pre>
      </b>
      <pre ng-if="error.postcontext" class="compiler-output" ng-bind-html="error.postcontext | ctestNonXmlCharEscape | terminalColors:false | trustAsHtml"></pre>
    </td>
  </tr>

  <tr ng-if="error.sourcefile && error.targetname">
    <th class="measurement">
      <span class="nobr">Source File</span>
    </th>
    <td>
      {{error.sourcefile}}
    </td>
  </tr>

  <tr ng-if="error.labels">
    <th class="measurement">
      <div ng-if="error.labels.length == 1">Label</div>
      <div ng-if="error.labels.length > 1">Labels</div>
    </th>
    <td>
      <div ng-repeat="label in error.labels">
        {{label}}
      </div>
    </td>
  </tr>

  <tr ng-if="error.argumentfirst">
    <th class="measurement" style="width: 1%">Command</th>
    <td>
      <div style="margin-left: 25px; text-indent: -25px;">
        <span id="showarguments_{{error.id}}" ng-hide="error.showArguments">
          <span style="cursor: pointer" ng-click="error.showArguments = ! error.showArguments">
            [+]
          </span>
          <span class="nobr">"<font class="argument">{{error.argumentfirst}}</font>"</span>
        </span>

        <span id="argumentlist_{{error.id}}" ng-show="error.showArguments">
          <span style="cursor: pointer" ng-click="error.showArguments = ! error.showArguments">
            [-]
          </span>
          <span class="nobr">"<font class="argument">{{error.argumentfirst}}</font>"</span>
          <span ng-repeat="argument in error.arguments track by $index">"<font class="argument nobr">{{argument}}</font>" </span>
        </span>
      </div>
    </td>
  </tr>

  <tr ng-if="error.workingdirectory">
    <th class="measurement" style="width: 1%">
      Directory
    </th>
    <td>
      {{error.workingdirectory}}
    </td>
  </tr>

  <tr ng-if="error.exitcondition">
    <th class="measurement">
      <span class="nobr"> Exit Condition </span>
    </th>
    <td>
      {{error.exitcondition}}
    </td>
  </tr>

  <tr ng-if="error.stdoutput">
    <th class="measurement">
      <span class="nobr"> Standard Output </span>
    </th>
    <td>
      <pre class="compiler-output" name="stdout">{{error.stdoutput}}</pre>
    </td>
  </tr>

  <tr ng-if="error.stderror">
    <th class="measurement">
      <span class="nobr"> Standard Error </span>
    </th>
    <td>
      <pre class="compiler-output" name="stderr">{{error.stderror}}</pre>
    </td>
  </tr>
</table>
