<div id="div_showfilters" ng-controller="FiltersController">

  <div ng-hide="showfilters == 0">
    <div class="table-heading0">
      <a ng-href="http://public.kitware.com/Wiki/CDash:Documentation#Filters_on_{{cdash.page}}"
         target="_blank"
         style="float: right;">Help</a>
      <h3>Filters</h3>
    </div>
    <ul>
      <li ng-repeat="filter in filterdata.filters"
          ng-class-even="'treven'" ng-class-odd="'trodd'"
          class="filterFields" id="filter{{$index+1}}">
        <div ng-if="::filter.filters">
          <ul>
            <li class="filterFields" id="subfilter{{$index+1}}"
                ng-repeat="subfilter in filter.filters" >
              <select id="id_field{{$index+1}}" name="field{{$index+1}}"
                      ng-model="subfilter.key" ng-change="changeFilter($index+1)">
                <option ng-repeat="availablefilter in filterdata.availablefilters"
                        value="{{availablefilter}}"
                        ng-selected="filterdata.availablefilters[$index] == subfilter.key">
                  {{filterdefinitions[availablefilter].text}}
                </option>
              </select>

              &nbsp;

              <select id="id_compare{{$index+1}}" name="compare{{$index+1}}"
                      ng-model="subfilter.compare">
                <option value="0">-- choose comparison --</option>
                <option ng-repeat="comparison in comparisons[filterdefinitions[subfilter.key].type]"
                        value="{{comparison.value}}"
                        ng-selected="subfilter.compare == comparison.value">
                  {{comparison.text}}
                </option>
              </select>

              &nbsp;

              <input type="text" size="60" id="id_value{{$index+1}}" name="value{{$index+1}}" value="{{subfilter.value}}" ng-model="subfilter.value"></input>

              &nbsp;

              <button class="btn btn-default btn-xs"
                      ng-click="removeFilter(filter, $index+1)"
                      ng-disabled="$last && $first">
                <span class="smallicon glyphicon glyphicon-minus"></span>
              </button>
              <button class="btn btn-default btn-xs"
                      ng-click="addFilter(filter, $index+1)">
                <span class="smallicon glyphicon glyphicon-plus"></span>
              </button>
              <span ng-if="!$last">
                {{filterdata.othercombine}}
              </span>
            </li>
          </ul>
          <button class="btn btn-default btn-xs"
                  ng-click="removeFilter(filterdata, $index+1)"
                  ng-disabled="$last && $first">
            <span class="smallicon glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn btn-default btn-xs" ng-click="addFilter(filterdata, $index+1)">
            <span class="smallicon glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-default btn-xs"
                  ng-click="addFilterBlock($index+1)"
                  tooltip-popup-delay="1500"
                  tooltip-append-to-body="true"
                  uib-tooltip="Add filter block. All items added to this sub-list will be combined into a single filter clause.">
            <img class="smallicon" src="img/nested_list.svg"></img>
          </button>
          <span ng-if="$middle">
            {{filterdata.filtercombine}}
          </span>
        </div>

        <div ng-if="::filter.key">
          <select id="id_field{{$index+1}}" name="field{{$index+1}}"
                  ng-model="filter.key"
                  ng-change="changeFilter($index+1)">
            <option ng-repeat="availablefilter in filterdata.availablefilters"
                    value="{{availablefilter}}"
                    ng-selected="filterdata.availablefilters[$index] == filter.key">
              {{filterdefinitions[availablefilter].text}}
            </option>
          </select>

          &nbsp;

          <select id="id_compare{{$index+1}}" name="compare{{$index+1}}"
                  ng-model="filter.compare">
            <option value="0">-- choose comparison --</option>
            <option ng-repeat="comparison in comparisons[filterdefinitions[filter.key].type]"
                    value="{{comparison.value}}"
                    ng-selected="filter.compare == comparison.value">
              {{comparison.text}}
            </option>
          </select>

          &nbsp;

          <input type="text" size="60" id="id_value{{$index+1}}" name="value{{$index+1}}" value="{{filter.value}}" ng-model="filter.value"></input>

          &nbsp;

          <button class="btn btn-default btn-xs"
                  ng-click="removeFilter(filterdata, $index+1)"
                  ng-disabled="$last && $first">
            <span class="smallicon glyphicon glyphicon-minus"></span>
          </button>
          <button class="btn btn-default btn-xs" ng-click="addFilter(filterdata, $index+1)">
            <span class="smallicon glyphicon glyphicon-plus"></span>
          </button>
          <button class="btn btn-default btn-xs"
                  ng-click="addFilterBlock($index+1)"
                  tooltip-popup-delay="1500"
                  tooltip-append-to-body="true"
                  uib-tooltip="Add filter block. All items added to this sub-list will be combined into a single filter clause.">
            <img class="smallicon" src="img/nested_list.svg"></img>
          </button>
          <select ng-if="filterdata.filters.length > 1 && $first"
                  ng-model="filterdata.filtercombine"
                  ng-change="updateCombine(filterdata)">
            <option value="and">and</option>
            <option value="or">or</option>
          </select>
          <span ng-if="$middle">
            {{filterdata.filtercombine}}
          </span>
        </div>

      </li>
    </ul>

    <div>
      <div ng-if="filterdata.showlimit == 0">
        <input type="hidden" id="id_limit" name="limit" value="{{filterdata.limit}}">
        </input>
      </div>
      <div ng-if="filterdata.showlimit == 1">
        Limit results to
        <input type="text" size="3" id="id_limit" name="limit" align="center" value="{{filterdata.limit}}">
        </input>
        rows (0 for unlimited)
      </div>
    </div>

    <div>
      <div>
        <input type="hidden" name="filtercount" id="id_filtercount" value="{{filterdata.filters.length}}">
        </input>
        <input type="hidden" name="showfilters" id="id_showfilters" value="1" />
        <input type="button" ng-click="applyFilters()" name="apply" value="Apply" />
        &nbsp;
        <input type="button" ng-click="clearFilters()" name="clear" value="Clear" />
        &nbsp;
        <input type="button" ng-click="displayHyperlink()" name="create_hyperlink" value="Create Hyperlink"/>
      </div>
    </div>

    <div>
      <div>
        <div id="div_filtersAsUrl"/>
      </div>
    </div>
  </div>
</div>
