<div id="header">
  <div id="headertop">
    <div id="topmenu">
      <a href="user.php">
        <span ng-if="cdash.user.id > 0">My CDash</span>
        <span ng-if="!cdash.user.id || cdash.user.id == 0">Login</span>
      </a>
      <a href="index.php">All Dashboards</a>
      <a href="user.php?logout=1" ng-if="cdash.user.id > 0">Log Out</a>
    </div>

    <div id="datetime"> {{cdash.datetime}} </div>
    <div ng-if="cdash.public==1" id="feedicon" alt="RSS Feed" title="RSS Feed">
      <a href="rss/SubmissionRSS{{cdash.projectname}}.xml">
        <img src="img/feed-icon16x16.png" alt="RSS" width="14" height="14" border="0" />
      </a>
    </div>
  </div>

  <div id="headerbottom">
    <div id="headerlogo">
      <a href="{{cdash.home}}">
        <img ng-if="cdash.logoid>0" id="projectlogo" border="0" height="50px" ng-src="displayImage.php?imgid={{cdash.logoid}}"/>
        <img ng-if="!cdash.logoid || cdash.logoid==0" id="projectlogo" border="0" height="50px" src="img/cdash.gif"/>
      </a>
    </div>
    <div id="headername">
      {{cdash.projectname}}
      <span ng-if="cdash.subheadername" id="subheadername">{{cdash.subprojectname}}</span>
    </div>
    <div id="headermenu">
      <ul id="navigation">
        <li>
          <a href="index.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}">
            Dashboard
          </a>
          <ul>
            <li ng-if="cdash.menu.subprojects == 1">
              <a href="viewSubProjects.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}">
                SubProjects
              </a>
            </li>
            <li>
              <a href="overview.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}">
                Overview
              </a>
            </li>
            <li>
              <a href="viewChanges.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}{{cdash.extraurl}}">
                Updates
              </a>
            </li>
            <li>
              <a href="buildOverview.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}{{cdash.extraurl}}">
                Builds
              </a>
            </li>
            <li>
              <a href="testOverview.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}{{cdash.extraurl}}">
                Tests
              </a>
            </li>
            <li>
              <a ng-if="cdash.parentid <= 0" href="queryTests.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}{{cdash.extraurl}}{{cdash.extrafilterurl}}">
                Tests Query
              </a>
              <a ng-if="cdash.parentid > 0" href="queryTests.php?project={{cdash.projectname_encoded}}&parentid={{cdash.parentid}}{{cdash.extraurl}}{{cdash.extrafilterurl}}">
                Tests Query
              </a>
            </li>
            <li>
              <a href="userStatistics.php?projectid={{cdash.projectid}}">
                Statistics
              </a>
            </li>
            <li class="endsubmenu">
              <a href="viewMap.php?project={{cdash.projectname_encoded}}&date={{cdash.date}}{{cdash.extraurl}}">
                Sites
              </a>
            </li>
          </ul>
        </li>
        <li id="Back" ng-if="cdash.menu.back">
          <a href="{{cdash.menu.back}}{{cdash.extrafilterurl}}">Back</a>
        </li>
        <li ng-if="!cdash.hidenav">
          <a id="cal" href="javascript:;" ng-click="toggleCalendar()">Calendar</a>
          <span id="date_now" style="display:none;">{{cdash.date}}</span>
        </li>
        <li ng-if="!cdash.hidenav">
          <a ng-if="cdash.menu.previous" href="{{cdash.menu.previous}}{{cdash.filterurl}}">Previous</a>
          <a ng-if="!cdash.menu.previous && !cdash.menu.noprevious" href="index.php?project={{cdash.projectname_encoded}}&date={{cdash.previousdate}}{{cdash.extraurl}}{{cdash.filterurl}}">
            Previous
          </a>
        </li>
        <li ng-if="!cdash.hidenav">
          <a ng-if="cdash.menu.current" href="{{cdash.menu.current}}{{cdash.filterurl}}">
            Current
          </a>
          <a ng-if="!cdash.menu.current" href="index.php?project={{cdash.projectname_encoded}}{{cdash.extraurl}}{{cdash.filterurl}}">
            Current
          </a>
        </li>
        <li ng-if="!cdash.menu.nonext && !cdash.hidenav">
          <a ng-if="cdash.menu.next" href="{{cdash.menu.next}}{{cdash.filterurl}}">
            Next
          </a>
          <a ng-if="!cdash.menu.next" href="index.php?project={{cdash.projectname_encoded}}&date={{cdash.nextdate}}{{cdash.extraurl}}{{cdash.filterurl}}">
            Next
          </a>
        </li>
        <li ng-if="!cdash.hidenav">
          <a href="#">Project</a>
          <ul>
            <li>
              <a href="{{cdash.home}}">Home</a>
            </li>
            <li>
              <a href="{{cdash.documentation}}">Documentation</a>
            </li>
            <li>
              <a href="{{cdash.vcs}}">Repository</a>
            </li>
            <li ng-class="{endsubmenu: cdash.projectrole}">
              <a href="{{cdash.bugtracker}}">Bug Tracker</a>
            </li>
            <li ng-if="!cdash.projectrole" class="endsubmenu">
              <a href="subscribeProject.php?projectid={{cdash.projectid}}">Subscribe</a>
            </li>
          </ul>
        </li>
        <li ng-if="cdash.user.admin == 1" id="admin">
          <a href="#">Settings</a>
          <ul>
            <li>
              <a href="createProject.php?edit=1&projectid={{cdash.projectid}}">
                Project
              </a>
            </li>
            <li>
              <a href="manageProjectRoles.php?projectid={{cdash.projectid}}">
                Users
              </a>
            </li>
            <li>
              <a href="manageBuildGroup.php?projectid={{cdash.projectid}}">
                Groups
              </a>
            </li>
            <li>
              <a href="manageCoverage.php?projectid={{cdash.projectid}}">
                Coverage
              </a>
            </li>
            <li>
              <a href="manageBanner.php?projectid={{cdash.projectid}}">
                Banner
              </a>
            </li>
            <li>
              <a href="manageMeasurements.php?projectid={{cdash.projectid}}">
                Measurements
              </a>
            </li>
            <li>
              <a href="manageSubProject.php?projectid={{cdash.projectid}}">
                SubProjects
              </a>
            </li>
            <li class="endsubmenu">
              <a href="manageOverview.php?projectid={{cdash.projectid}}">
                Overview
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="calendar" class="ui-datepicker-calendar" ></div>

<img id="spinner" src="img/loading.gif" ng-show="loading" />

<div ng-show="cdash.error">
  <b>Error: {{cdash.error}}</b>
</div>
<div ng-show="cdash.warning">
  <b>Warning: {{cdash.warning}}</b>
</div>
