* {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

body {
 /* font-family: Arial, Helvetica, sans-serif; */
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 padding: 0px;
 margin: 0px;
 font-size: 14px;
 font-weight: normal;
 color: #000000;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.argument {
 background-color: #eeeeee;
 font-family: Courier;
}

.cdashfilter {
  font-size: 11px;
}

a:link,a:visited,a:active{
 font-size:14px;
 color:#3B5998; /* 4A4A4A */
 font-weight: normal;
 text-decoration: none;
}

a:hover{
 /* color:#000000; */
 text-decoration: underline;
}

.paddr {
  margin: 0px;
  padding-top: 0px;
  padding-right: 11px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.na { background-color : #cccccc; }
.measurement { background-color : #b0c4de; }

#test_measurement_table th {
  padding: 4px;
  margin-right: 4px;
}
#test_measurement_table td {
  padding: 4px;
  margin-left: 4px;
}

.table-heading {
 background-color : #c7d7e7; /* #c1c1c1 */
 font-size: 13px;
 padding:0px;
 margin: 0px;
}

.table-heading .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.title-divider { background-color: #b0c4de; text-align: center; font-weight: bold; }
.table-heading1 {
 background-color : #5775b9;
 color: #FFFFFF;
}

.table-heading0 {
 background-color : #7796DF;
 color: #FFFFFF;
}

.table-heading0 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}

.table-heading1 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading1 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}

.table-heading1 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
 display: inline-block;
}

a.grouptrigger:link{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
}

a.grouptrigger:visited{
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
}

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .tabs-nav {
        display: none;
    }
}

/* Skin */

/* new jquery tabs */
.tabs.ui-state-default {
  background: none !important;
  background-color: #4d75ca !important;
}

.tabs.ui-state-active, .tabs.ui-state-hover {
  background: none !important;
  background-color: #ffffff !important;
}

.tabs.ui-corner-top a {
  color: #000000 !important;
  font-size: 12px !important;
  font-weight: bold !important;
  line-height: 1.2 !important;
  text-align: center !important;
  white-space: nowrap !important;
}

.tabs.ui-widget-header {
  background: none !important;
  background-color: #ececec !important;
}

/* old jquery tabs */

.tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}
.tabs-nav:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}
.tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px; /* be nice to Opera */
}
.tabs-nav a, .tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: url(../img/tab.png) no-repeat;
}
.tabs-nav a {
    position: relative;
    top: 1px;
    z-index: 2;
    padding-left: 0;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap; /* required in IE 6 */
}
.tabs-nav .tabs-selected a {
    color: #000;
}

.tabs-nav .tabs-selected a, .tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active {
    background-position: 100% -150px;
    outline: 0; /* prevent dotted border in Firefox */
}
.tabs-nav a, .tabs-nav .tabs-disabled a:hover, .tabs-nav .tabs-disabled a:focus, .tabs-nav .tabs-disabled a:active {
    background-position: 100% -100px;
}
.tabs-nav a span {
    width: 64px; /* IE 6 treats width as min-width */
    min-width: 64px;
    height: 18px; /* IE 6 treats height as min-height */
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}
*>.tabs-nav a span { /* hide from IE 6 */
    width: auto;
    height: auto;
}
.tabs-nav .tabs-selected a span {
    padding-top: 7px;
}
.tabs-nav .tabs-selected a span, .tabs-nav a:hover span, .tabs-nav a:focus span, .tabs-nav a:active span {
    background-position: 0 -50px;
}
.tabs-nav a span, .tabs-nav .tabs-disabled a:hover span, .tabs-nav .tabs-disabled a:focus span, .tabs-nav .tabs-disabled a:active span {
    background-position: 0 0;
}
.tabs-nav .tabs-selected a:link, .tabs-nav .tabs-selected a:visited, .tabs-nav .tabs-disabled a:link, .tabs-nav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
    cursor: text;
}
.tabs-nav a:hover, .tabs-nav a:focus, .tabs-nav a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}
.tabs-nav .tabs-disabled {
    opacity: .4;
}
.tabs-container {
    border-top: 1px solid #97a5b0;
    padding: 1em 8px;
    background: #fff; /* declare background color for container to avoid distorted fonts in IE while fading */
}
.tabs-loading em {
    padding: 0 0 0 20px;
    background: url(loading.gif) no-repeat 0 50%;
}
div.tab_content {
  border:1px solid #97A5B0;
}
div.tab_help{
  float:right;
  width:320px;
}
span.help_content{
  display:none;
}
#wizard{
    margin-left:auto;
    margin-right:auto;
    width:900px;
  }
/* tooltip 's css */
#tooltip{
      position:absolute;
      border:1px solid #333;
      background:#f7f5d1;
      padding:2px 5px;
      color:#333;
      display:none;
}

span.lineNoCov {
  background-color : #ff6666;
}

span.lineCov {
  background-color: #669933; /* #92ca89*/
}

span.lineNum {
  background-color : #fdba76;
}

.valuewithsub{
  position: relative;
  min-width: 40px;
  left: -5px;
}

.sub {
 position: absolute;
 font-size: 0.6em;
 text-decoration: none;
 bottom: -0.4em;
 margin-left: 2px;
}

a.sup {
 position: absolute;
 font-size: 0.6em;
 text-decoration: none;
 top: -0.3em;
 margin-left: 1px;
}


/** New CSS starts here */
div#header {
  width:100%;
}

#headername2 {
  display:table;
  float:left;
  font-size:20px;
  font-weight:700;
  height:100%;
}

span#subheadername  {
/*
  padding-left: 5px;
  text-transform: lowercase;
  */
  display:table-cell;
  vertical-align: middle;
}

div#datetime {
  position: absolute;
  width: 300px;
  right: 0px;
  top: 4px;
}

div#topmenu {
  width: 100%;
  line-height: 25px;
}

div#topmenu a {
  padding: 5px;
  color: #CCCCCC !important;
  cursor: pointer;
  text-decoration: none !important;
}

div#topmenu a:hover {
  background-color: #5A5A5A;
  text-decoration: none !important;
}

div#banner {
  width: 100%;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #C7D7E7;
  margin-bottom: 3px;
}

div#labelshowfilters {
  position: relative;
  top: -18px;
  float: right;
  width: 100px;
}

div#autorefresh {
  position: relative;
  top: -18px;
  right: 5px;
  float: right;
  width: 90px;
}

div#advancedview {
  position: relative;
  top: -18px;
  right: 10px;
  float: right;
  width: 100px;
}

#tablefilters {
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

#tablefilters tr td {
  padding-left: 10px;
}

div#div_showfilters {
  clear: both;
  width: 100%;
  position: relative;
}

.icon {
  margin-left: 1px;
  margin-right: 1px;
}

.smallicon {
  height: 16px;
  width: 16px;
}

.builddateelapsed {
  text-align: center;
}

#showold {
  padding-right: 5px;
  padding-top: 5px;
}

.ui-tooltip-blue .ui-tooltip-content{
  border-color: #244FB1 !important;
  color: #000000 !important;
}

/** CALENDAR */
div#calendar{
  position:absolute;
  z-index: 1000;
  right: 150px;
  display: none; /* hide by default */
}

.activity-level-none {
    float: right;
    background: url("../../img/activity-level.png") no-repeat scroll -16px -16px transparent;
    height: 16px;
    width: 16px;
}

.activity-level-low {
    float: right;
    background: url("../../img/activity-level.png") no-repeat scroll 0 -16px transparent;
    height: 16px;
    width: 16px;
}

.activity-level-medium {
    float: right;
    background: url("../../img/activity-level.png") no-repeat scroll -16px 0 transparent;
    height: 16px;
    width: 16px;
}

.activity-level-high {
    float: right;
    background: url("../../img/activity-level.png") no-repeat scroll 0 0 transparent;
    height: 16px;
    width: 16px;
}

img {
    border: 0 none;
}

#executiontime {
  position: relative;
  float: right;
  top: 10px;
  padding-right: 5px;
}

#executiontime img {
  padding-right: 3px;
}

textarea {
  font-size: 14px;
  font-family: Courier New, Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
}

.parent_row {
 font-weight: bold;
}

.compiler-output {
  font-size: 14px;
  font-family: Courier New, Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono, monospace;
  overflow-x:scroll;
  max-height:350px;
}

.nobr {
  white-space:nowrap;
}

/* used for tabbed content on AngularJS pages */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.center-text {
  text-align: center;
}
.column-header {
  text-align: center;
  cursor: pointer;
}
.border-right {
  border-right: 2px black solid !important;
}
.border-left {
  border-left: 2px black solid !important;
}
.overview-line-chart {
  height: 100px;
  width: 200px;
}
.overview-bullet-chart {
  height: 100px;
  width: 150px;
}

/* for angular animations */
.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}
.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
  opacity:1;
}

.animate-show {
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
  opacity:1;
}
.animate-show.ng-hide {
  opacity:0;
}
.fade {
  -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
  transition: opacity 2s;
  opacity: 0;
}

/* used for angular table sorting */
.glyphicon-none:before {
  content: "\e113";
  color: transparent !important;
}

/* add border to bottom of table */
.test-table {
    border-bottom: 1px solid #555555;
}

/* padding for test table cells */
.test-table td, .test-table th{
  padding: 4px !important;
}

/* testing graphs */
#testfailuregrapholder, #graph_holder, .graph_holder {
  width:800px;
  height:400px;
}

/* for manageOverview.php */
#buildSortable {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 275px;
}
#buildSortable li {
  margin: 0 3px 3px 3px;
  padding: 3px;
  height: 250px;
  font-size: 1.4em;
  border-style: solid;
  border-width: 2px;
  cursor: move;
}
#staticSortable {
  margin: 0;
  padding: 0;
}
#staticSortable tr {
  margin: 0 3px 3px 3px;
  padding: 3px;
  font-size: 1.4em;
  border-style: solid;
  border-width: 2px;
  cursor: move;
}
.spacer {
  margin-top: 20px;
}
.spacer-bottom {
  margin-bottom: 20px;
}
.spacer50 {
  margin-top: 50px;
}

.pad4 {
  padding: 4px;
}

.bordertop {
  border-top: 1px solid black;
}

.missing {background-color: #dfdfdf; }
.tabb tbody tr.odd td.missing { background-color: #cdcdcd; }

/* =======================================
** Design Refresh Styles
** =====================================*/

/* Header Overrides */
div#headertop {
  background-color: #2D2D2D;
  background-image: none;
  color: #CCCCCC !important;
  min-height:25px;
  padding:0 2em;
  width:100%;
}

#headertop #topmenu a {
  font-size:12px !important;
}

#headerbottom {
  background:#efefef;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
  height: 60px;
  width:100%;
  -webkit-box-shadow: #222222 0px 0px 3px;
  -moz-box-shadow: 0px 0px 2px #222222;
  box-shadow: #222222 0 0 3px;
  display: flex;
}

#headerlogo,
#headername {
  padding:10px;
}

#headerlogo {
  float:left;
  height: 60px;
  padding-left:2em;
}

#headerlogo #projectlogo {
  height:100%;
  width:auto;
}

#headername {
  display:table;
  float:left;
  font-size:20px;
  font-weight:700;
  height:100%;
}

#headername .projectname {
  display:table-cell;
  vertical-align: middle;
}

#headermenu {
  float:right;
  height:100%;
  padding-right:30px;
  margin-left: auto;
}

#headermenu #navigation {
  display:block;
  height:100%;
  list-style:none;
  margin:0;
  padding:0;
}

#headermenu #navigation li {
  float:left;
  display:block;
  height:100%;
  position:relative;
}

#headermenu #navigation li a,
#headermenu #navigation li a:link,
#headermenu #navigation li a:active,
#headermenu #navigation li a:visited {
  color:#666666;
  display:block;
  font-size:16px;
  height:100%;
  padding:19px;
  width:100%;
}

#headermenu #navigation li:hover {
  background:#e0e0e0;
}

#headermenu #navigation li:hover a {
  color:black;
  text-decoration: none;
}

#headermenu #navigation li ul {
  border-bottom:6px solid #555555;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
  -webkit-box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  display:none;
  list-style:none;
  overflow:hidden;
  padding:0;
  position:absolute;
  left:0;
  width:175px;
  z-index: 9999;
}

#headermenu #navigation li:last-of-type ul {
  left:-98%;
}

#headermenu #navigation li:hover ul {
  display:block;
}

#headermenu #navigation li ul li {
  background:#e0e0e0;
  border-bottom:1px solid #bbbbbb;
  -webkit-transition:all .15s ease-in-out;
  -moz-transition:all .15s ease-in-out;
  -o-transition:all .15s ease-in-out;
  transition:all .15s ease-in-out;
  width:100%;
}

#headermenu #navigation li ul li:hover {
  background:#efefef;
  border-left:4px solid #5775b9;
}

#headermenu #navigation li ul li a,
#headermenu #navigation li ul li a:link,
#headermenu #navigation li ul li a:active,
#headermenu #navigation li ul li a:visited {
  padding-top:10px;
  padding-bottom:10px;
}

/* Next/Previous Project Nav */
#header .projectnav {
  margin:0 auto;
  padding: 19px;
}

#header .projectnav .projectnav_controls {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  display:inline-block;
  list-style:none;
  margin:0;
  overflow:hidden;
  padding:0;
}

#header .projectnav .projectnav_controls li {
  background:#555555;
  border:1px solid #212121;
  float:left;
  font-size:11px;
  margin-right:-1px;
  text-transform: uppercase;
}

#header .projectnav .projectnav_controls li.btnprev {
  border-right:1px solid #212121;
  text-align:left;
}

#header .projectnav .projectnav_controls li.btncurr {
  border-left:1px solid #999999;
  border-right:1px solid #212121;
  text-align:center;
}

#header .projectnav .projectnav_controls li.btnnext {
  border-left:1px solid #999999;
  text-align:right;
}

#header .projectnav .projectnav_controls li a {
  color:white;
  display:block;
  font-size:11px;
  padding:5px 12px 3px;
  height:100%;
  text-decoration: none;
  width:100%;
}

#header .projectnav .projectnav_controls li a:hover {
  background: #555555; /* Old browsers */
  background: -moz-linear-gradient(top, #555555 0%, #666666 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #555555 0%,#666666 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #555555 0%,#666666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#555555', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
}

#header .projectnav .projectnav_controls li.btnprev a:before,
#header .projectnav .projectnav_controls li.btnnext a:after {
  content:"";
  display:block;
  height:9px;
  width:9px;
}

#header .projectnav .projectnav_controls li.btnprev a:before {
  background:url(../../img/prev-chevron.svg) no-repeat center center;
  background-size:100%;
  float:left;
  margin:2px 10px 0 0;
}

#header .projectnav .projectnav_controls li.btnnext a:after {
  background:url(../../img/next-chevron.svg) no-repeat center center;
  background-size:100%;
  float:right;
  margin:2px 0 0 10px;
}

/* Banner area */

div#index_top {
  height:auto;
  position: relative;
  width: 100%;
  margin: 0px;
}

div#main_content {
  padding: 1em 2em;
}

#settings {
  cursor: pointer;
  float: right;
  height: 20px;
  margin-right:0;
  margin-top:20px;
  position:relative;
  width: 20px;
}

#settings ul{
  -webkit-box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 20px 27px -2px rgba(0,0,0,0.3);
  list-style: none;
  margin:0;
  padding:0;
  position:absolute;
  right:27px;
  top:0;
  width:130px;
  z-index:5000;
}

#settings ul li {
  background:#e0e0e0;
  border-bottom:1px solid #bbbbbb;
  display: block;
  transition:all .15s ease-in-out;
}

#settings ul li a {
  color: #666666;
  display: block;
  height: 100%;
  padding-left: 10px;
  position: relative;
  text-decoration: none;
  transition:all .15s ease-in-out;
  width: 100%;
}

#settings ul li:hover {
  background:#efefef;
  border-left:4px solid #5775b9;
}

#settings ul li:hover a {
  color:#000000;
  text-decoration: none;
}

#settings ul.visible {
  display: block;
}

/* Table Styles */

.buildgroup {
  padding-bottom: 20px;
  padding-top: 20px;
}

.buildgroupname,
.buildgroupname a,
.buildgroupname a.grouptrigger {
  font-size:17px;
  color:#555555;
  margin-top:0;
}

.buildgroupname a {
  display:inline-block;
  padding-right:5px;
}

.buildgroupname .buildnums {
  display:inline-block;
  font-size:12px;
  font-style: italic;
  font-weight: normal;
}

.buildgroupname .grouplink {
  float: right;
  font-size:14px;
  font-weight: normal;
}

.buildgroup > table.tabb {
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow:0px 3px 10px -2px rgba(0,0,0,0.4);
  -moz-box-shadow:0px 3px 10px -2px rgba(0,0,0,0.4);
  box-shadow:0px 3px 10px -2px rgba(0,0,0,0.4);
  overflow:scroll;
}

.buildgroup > table.tabb tbody {
  border-bottom:5px solid #555555;
}

.buildgroup table.tabb .table-heading1,
.buildgroup table.tabb#coveragetable .table-heading2,
.buildgroup table.tabb#dynamicanalysistable .table-heading3 {
  padding:0;
}

.buildgroup table.tabb .table-heading1 td,
.buildgroup table.tabb#coveragetable .table-heading2 td,
.buildgroup table.tabb#dynamicanalysistable .table-heading3 td {
  padding:8px;
}

.buildgroup table.tabb .table-heading1 a,
.buildgroup table.tabb#coveragetable .table-heading2 a,
.buildgroup table.tabb#dynamicanalysistable .table-heading3 a {
  font-size:17px;
  font-weight:bold;
}

.tabb {
  clear: both;
}

.tabb a {
  color:  #00264D ; /* #3B5998 #00498f*/
  text-decoration:  none;
}

.tabb a:hover {
  text-decoration:  underline;
}

.tabb td, .tabb th{
  padding:3px 15px;
}

.tabb td{
  padding:3px 10px;
}

.table-heading {
  background-color:none !important;
}

.table-heading th:nth-child(odd) {
  background:#c7d7e7;
}

.table-heading th:nth-child(even) {
  background:#d9e4ef;
}

.odd,
.tabb tbody tr.odd {
  background-color: #e0e0e0;
}
.odd td:nth-child(even),
.tabb tbody tr.odd td:nth-child(even) {
  background-color: #ececec;
}
.even,
.tabb tbody tr.even {
  background-color: #f2f2f2;
}

.even td:nth-child(even),
.tabb tbody tr.even td:nth-child(even) {
  background-color: #f7f7f7;
}

.tabb thead tr .header {
  background-repeat: no-repeat;
  background-position: bottom center;
  cursor: pointer;
}
.tabb thead tr .headerSortUp {
  background-image: url(../img/asc.gif);
}
.tabb thead tr .headerSortDown {
  background-image: url(../img/desc.gif);
}
.tabb thead tr .headerSortDown, .tabb thead tr .headerSortUp {
background-color: #adcae6
;
}

 .treven, tr.even {
 background-color : #ececec;
 margin: 0px;
}
 .trodd, tr.odd {
 background-color : #ffffff;
 margin: 0px;
 border: 0px;
}
.min {
 background-color: #fff687;
}

.tabb .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.table-heading1 .nob {
 margin: 0px;
 padding: 3px;
 border-top-width: 0px;
 border-right-width: 0px;
 border-left-width: 0px;
 border-bottom: solid 1px #244fb1;
}

.table-heading1 td:nth-child(even) {
  background-color:#607dc1;
}

.botl {
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #555555;
 font-weight: bold;
 margin: 0px;
 padding: 0px;
}

#nob{
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom-width: 0px;
 border-left-width: 0px;
}

.paddt {
 padding-left: 7px;
}
.total {
 background-color : #ececec;
 margin: 0px;
}
.table-heading2 {
 background-color : #016d9a; /*156824*/
 color: #FFFFFF;
}

.table-heading2 .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom: 1px solid #015173;
 border-left-width: 0px;
}

.table-heading2 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: normal;
 text-decoration: none;
}
.table-heading2 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading2 h3{
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}
.table-heading3 a:link{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading3 a:visited{
 font-size:10px;
 color:#FFFFFF;
 font-weight: normal;
 text-decoration: none;
}
.table-heading3 {
 background-color : #01939A; /*#845924 */
 color: #FFFFFF;
}
.table-heading3 .nob {
 border-top-width: 0px;
 border-right-width: 0px;
 border-bottom: 1px solid #016e73;
 border-left-width: 0px;
}

.table-heading3 h3{
 font-family: Arial, Helvetica, sans-serif;
 color: #FFFFFF;
 font-size: 17px;
 font-weight: bold;
 margin: 0px;
 padding-top: 0px;
 padding-right: 0px;
 padding-bottom: 0px;
 padding-left: 7px;
}

/* Footer Styles */

#footer {
  background-color: #e8e8e8;
  border-top: solid 1px #BBBBBB;
  margin-top:25px;
  padding:15px 30px 23px;
}

#footer a:hover{
  text-decoration: underline;
}

#footer #kitwarelogo {
  float: left;
  height:26px;
  margin-top:5px;
}

#footer #kitwarelogo a {
  text-decoration: none;
}

#footer #kitwarelogo img {
  height:100%;
  width:auto;
}

#footerlinks {
  float: right;
  height: 32px;
}

#footerlinks a {
  text-decoration: none;
}

#footerlinks .footerlogo {
  margin-right:8px;
}

#footerlinks .footerlogo img {
  height:100%;
  width:auto;
}

#footerlinks #footertext,
#footerlinks #footertext a {
  font-size: 12px;
  color: #4A4A4A;
}

/* flot legend display */
.legend { display: block;
		-webkit-padding-start: 2px;
		-webkit-padding-end: 2px;
		border-width: initial;
		border-style: none;
		border-color: initial;
		border-image: initial;
		padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
}


/* =======================================
** Misc. Helper Styles
** =====================================*/

/* add clearfix class */
.clearfix:after {
  content:"";
  clear:both;
  display:table;
}
