<button class="btn btn-default btn-xs"
        ng-click="addFilterBlock($index+1)"
        tooltip-popup-delay="1500"
        tooltip-append-to-body="true"
        uib-tooltip="Add filter block. All items added to this sub-list will be combined into a single filter clause.">
  <img class="smallicon" src="img/nested_list.svg"></img>
</button>
<select ng-if="filterdata.filters.length > 1 && $first"
        ng-model="filterdata.filtercombine"
        ng-change="updateCombine(filterdata)">
  <option value="and">and</option>
  <option value="or">or</option>
</select>
<span ng-if="$middle">
  {{filterdata.filtercombine}}
</span>
